<img class="marker" src="images/hiro.PNG" alt="marker"/>
<div class="markerContent">
	<p>Enter url into your phone's browser and point your device at the marker</p>
	<h2>gabrielnyante.com/armaker.html</h2>
</div>